@import '../../scss/import.scss';

.add-note-form {
  width: 400px;
  background: $color-white;
}

.add-note-form__group {
  position: relative;

  &--wide input {
    height: 150px;
    word-break: break-word;
  }
}

.add-note-form__group select {
  width: 80%;
  min-height: 30px;
}

.add-note-form__submit-btn {
  background: $color-pacific-blue;
  color: $color-white;
  font-weight: 600;
  font-size: $fs-l;
  width: 100%;
  height: 45px;
  border-radius: 10px;
  margin-top: 30px;
  border: none;
  cursor: pointer;
}

.add-note-form__group--submit {
  display: flex;
  justify-content: center;
}
