@import '../../../SCSS/import.scss';


.auth-form-toggler__wrapper {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-weight: $fs-l;
}

.auth-form-toggler {
  color: $color-pacific-blue;
  font-weight: 600;
  cursor: pointer;
}
