$color-white: #fff;
$color-black: #000;

$color-yellow-100: #d3d100;

$color-blue-100: #071f4e;
$color-blue-200: #16379a;

$color-attention-500: #ec8484;
$color-attention-300: #f6abab;
$color-success-500: #5cb85c;

$color-pacific-blue:#01b1b6;
$color-alto:#ebe9e9;
$color-disco:#821a78;
$color-catalina-blue:#0d3982;